{% load static %}
<section id="cta" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
            <div class="cta-text">
              <h4>Entre em contato</h4>
              <p>Obtenha informações sobre os cursos, palestras, treinamentos e assessorias que oferecemos para seu Clube de Desbravadores!</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 text-right wow fadeInRight" data-wow-delay="0.3s">
            </br><a href="https://wa.me/5569992086561?text=Ola%21+Gostaria+de+saber+sobre+os+Treimamentos" class="btn btn-common">Contato WathsApp</a>
          </div>
        </div>
      </div>
    </section>