{% load static %}
<section id="pricing" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Planos</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInLeft" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-package"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">R$1500<span> /Dia</span></p>
              </div>
              <div class="title">
                <h3>Assessoria Pro</h3>
              </div>
              <ul class="description">
                <li>10 pessoas</li>
                <li>5 horas acessoria</li>
                <li>Support 1</li>
                <li>Acesso a Materiais</li>
              </ul>
              <button class="btn btn-common">Compre Agora</button>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-drop"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">R$3500<span> /Dia</span></p>
              </div>
              <div class="title">
                <h3>Assessoria Plus</h3>
              </div>
              <ul class="description">
                <li>15 pessoas</li>
                <li>15 horas acessoria</li>
                <li>Support 2</li>
                <li>Acesso a Materiais</li>
              </ul>
              <button class="btn btn-common">Compre Agora</button>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-star"></i>
              </div>
              <div class="pricing-header">
                <p class="price-value">R$5000<span> /Dia</span></p>
              </div>
              <div class="title">
                <h3>Assessoria Premium</h3>
              </div>
              <ul class="description">
                <li>100 pessoas</li>
                <li>50 horas acessoria </li>
                <li>Support Completo</li>
                <li>Materiais + Bonus</li>
              </ul>
              <button class="btn btn-common">Compre Agora</button>
            </div>
          </div>
        </div>
      </div>
    </section>