{% load static %}
<div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Analise de Desenvolvimento</p>
                  <h2 class="section-title">Detalhando o Desenvolvimento do seu Clube</h2>
                </div>
                <div class="content">
                  <p>
                    Através de tecnicas avançadas analizamos por meio de dados coletados, e rigorozamente tratados por meio de algoritimos analizadores, podemos classificar o nivel de desempenho e definir nova metas a serem alcançadas!
                  </p>
                  <a href="https://wa.me/5569992086561?text=Ola%21+Gostaria+de+saber+sobre+os+Treimamentos" class="btn btn-common mt-3">Saiba Mais</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>